<div class="flex flex-col items-center" >
	<form method="post" class="h-max relative mt-4">
		<img class="absolute h-[35px] w-[35px] left-[5px] top-1/2 -translate-y-[50%]" src="~/assets/search.png" />
		<input class="bg-[#F7F7F7] rounded-[79px] h-[45px] pl-10 w-full" placeholder="Otsi..." type="text"/>
	</form>

        <div class="flex flex-col items-center m-20 text-2xl font-semibold">
            <table>
                <td>Kaamerad</td>
            </table>
        </div>
</div>
    <div class="text-xl text-left m-9 flex flex-col gap-[10px]">
        <h1 class="bg-green-300 px-3 py-2">Canon kit</h1>
    </div>
