<div>
    <div class="p-5 bg-green-300">
        <h1 class="flex-row text-3xl font-bold">Canon</h1>
        <h1 class="flex-row text-2xl">(seerianr)</h1>
    </div>
    <div class="flex items-center justify-between items.items-center p-5">
        <h1 class="flex-col text-xl font-semibold">Seadme märkused:</h1>
        <button class="flex items-center scale-90 btn">Lisa märkus</button>
    </div>
    <div class="flex-col items-center p-5 ">
        <h1>05.04 Katik puudu</h1>
        <h1>12.04 Nupp kulunud</h1>
    </div>
    <div class="flex-col items-center p-5 ">
        <h1 class="text-xl font-semibold">Seadme ajalugu:</h1>
        <h1>02.04-05.04 Renditud - TAK-23 Kaspar - kool</h1>
        <h1>05.04 Märkus - Katik puudu</h1>
        <h1>07.04-13.04 Renditud - TAK-23-Kaspar-kool</h1>
        <h1>13.04 Märkus - Nupp kulunud</h1>
    </div>
    <div class="flex-col items-center p-5">
        <h1 class="text-xl font-semibold">Seadme info:</h1>
        <h1 class="mt-2">Seerianumber:</h1>
        <h1 class="mt-2">Triipkoodi number:</h1>
        <h1 class="mt-2">Lisamise aeg:</h1>
        <h1 class="mt-2">Katekooria:</h1>
    </div>

    <div class="flex justify-center mt-10 mb-5 scale-90">
        <button class="flex items-center btn">Eemalda seade</button>
    </div>
</div>