<div class="flex flex-col">
    <div class="flex justify-center gap-12 my-10 mx-32">
        <a href=""><button class="btn">Tagasi</button></a>
        <a href=""><button class="btn">Laenutus</button></a>
    </div>
    <div class="flex mx-auto my-10">
        <p class="flex justify-center font-bold text-4xl text-[#454545]">Kategooriad</p>
    </div>
    <div class="flex flex-col mx-auto gap-5">
        <a href=""><button class="category w-[290px]">Kaamerad</button></a>
        <a href=""><button class="category w-[290px]">Objektiivid</button></a>
        <a href=""><button class="category w-[290px]">Statiivid</button></a>
        <a href=""><button class="category w-[290px]">Mälukaardid</button></a>
    </div>
</div>