<div class="flex flex-col items-center w-full">
	<div class="flex justify-center w-[20px] gap-5 p-10 text-white mt-15">
		<a class="btn" href="/home/groups">Laenuta</a>
		<a class="btn" href="/home/equipment_categories">Seadmed</a>
	</div>

	<table class="w-full px-1">
		<tr>
			<td>Nimi</td>
			<td>Tagastus</td>
			<td>Seade</td>
		</tr>
		@{
			DatabaseContext database = new();
			var items = database.Rent
				.Join(database.Person, a => a.PersonId, b => b.Id, (a, b) => new
				{
					User = b.Name,
					EquipmentId = a.EquipmentId,
					EndDate = a.EndDate,
					StartDate = a.StartDate
				})
				.Join(database.Equipment, a => a.EquipmentId, b => b.Id, (a, b) => new
				{
					a.User,
					Equipment = b.Name,
					a.EndDate,
					a.StartDate
				});
			foreach(var item in items)
			{
				bool expired = DateTime.Now > item.EndDate;

				<tr class="@(expired ? "bg-red-300" : "bg-[#E9E9E9]")">
					<td>@item.User</td>
					<td>@(item.EndDate.ToString("dd-MM-yyyy"))</td>
					<td>@item.Equipment</td>
				</tr>
			}
		}
	</table>
</div>
