<div class="flex flex-col items-center w-full">
	<div class="flex justify-between text-white w-full mt-20">
		<a class="btn" href="/home/">Laenuta</a>
		<a class="btn" href="/home/equipment_categories">Seadmed</a>
	</div>
	<form method="post" class="h-max relative mt-4">
		@* <img class="absolute h-[35px] w-[35px] left-[5px] top-1/2 -translate-y-[50%]" src="~/assets/search.png" />
		<input class="border-2 border-gray-300 border-solid rounded-[79px] h-[45px] pl-10 w-[300px]" placeholder="Otsi..." type="text"/> *@
		<p>name</p>
		<input type="text" name="name" />
		<p>email</p>
		<input type="email" name="email" />
		<p>group</p>
		<input type="text" name="group" />
		<input type="submit"/>
	</form>

	<table class="w-full px-1">
		<tr>
			<td>Nimi</td>
			<td>Tagastus</td>
			<td>Seade</td>
		</tr>
		<tr class="bg-[#E9E9E9]">
			<td>Kaspar</td>
			<td>04.25.2024</td>
			<td>Kaamera</td>
		</tr>
	</table>
</div>
