<div class="flex justify-center mt-12 md:mt-24">
    <h1 class="text-black font-bold text-3xl md:text-5xl">Õpilase nimi</h1>
</div>

<section class="m-10 mb-10 md:mt-24 md:mb-20">
    <div class="md:flex md:justify-center">
        <div class="bg-[#D9D9D9] rounded-lg p-10 md:w-96 md:scale-150">
            <h1 class="flex justify-center text-xl">QR SCANNER</h1>
        </div>
    </div>

    <div class="mt-10 md:mt-24 md:mb-20">
        <div class="md:flex md:justify-center">
            <h1 class="text-2xl font-bold md:font-semibold md:text-4xl">Scan List:</h1>
        </div>

        <div class="md:flex md:justify-center">
            <div class="bg-[#D9D9D9] rounded-lg p-10 mt-2 md:mt-7 md:w-96">
                <ul class="list-disc flex-col text-xl md:text-3xl">
                    @{
                        DatabaseContext database = new();
                        var names = database.Rent
                            .Where(x => x.PersonId.Equals(ViewData["uid"]))
                            .Join(database.Equipment, a => a.EquipmentId, b => b.Id, (a, b) => new
                            {
                                b.Id,
                                b.Name
                            })
                            .Select(x => x.Name);
                        foreach(var name in names)
                        {
                            <li class="md:mt-3">@name</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-10 md:mt-24 md:mb-20">
        

        <form method="post" class="md:flex md:justify-center">
            <input type="date" name="date" class="w-full bg-[#D9D9D9] h-10 md:scale-125 px-3" />
            <input type="text" name="reason" class="w-full bg-[#D9D9D9] h-10 md:scale-125 px-3" />
            <h1 class="text-2xl mt-5 font-bold flex justify-center">Lisa Käsitsi</h1>
            <div class="mt-6 md:mt-7 md:w-96 flex gap-10 flex-col">
                @* input type="text" class="w-full bg-[#D9D9D9] h-10 md:scale-125 px-3" placeholder="Lisa seade.."> *@
                
                <select class="w-full bg-[#D9D9D9] h-10 md:scale-125 px-3" name="id">
                    @{
                        foreach(var item in database.Equipment)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                
                <input type="hidden" name="user" value="@ViewData["uid"]"/>
                <input class="btn" type="submit" value="Lisa"/>
            </div>
        </form>
    </div>
</section>